# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/*
Currents/*
ToyDetector/Currents/*
ToyDetector/Summed/*
TFBoost_GUI_WSL/3Ddiamond/*
Results/*
docs/*
others/*
dev/*
.vscode/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LargeDataFiles
*.root
