#########################################################
#########################################################
##############    CONFIGURATION FILE     ################
#########################################################
#########################################################


# Output directory 
# Inside this directory two other dirs are 
# created : plots/ and data/
OutputDirectory = "results_GM/Doppio_100V/"; 


# Input directory (where are the input signal)
# InputFileExtension is the format of the file to read (.txt or .dat)
# NlineaToSkip is an integer to skip the first N lines of files
# The internal format of the input files can be configured using:
# - the token by which the data are separated in the file (space, tab, comma)
# - the column in which the actual values are stored (starting from 0)
InputDirectory     = "/home/dbrundu/Scaricati/simulation_results_angelo/Doppio_100V/"; 
InputFileExtension = ".dat";
NlinesToSkip       = 0;
token              = " ";
column             = 1;

# maximum input files to process
MaxInputFiles      = 10;

# time offset for the input signal (in ps)
offset             = 0; 

# Flag to use always the same curve,
# if true, please indicate the file name
UseSameCurve       = false;
FileName           = "";

# For storage reason only one plot with
# the convolution is plotted. This index chooses
# which one has to be plotted
IdxConvtoSave      = 10;


# Flag to use the analytical convolution (true) or take the 
# already convoluted signal from files (false)
# If false, indicate the full path of the file.
# The internal format must be "time voltage"
MakeConvolution    = true;
ConvolutionFile    = "dummy";



# Control flow flags
SaveSinglePlotConvolution    = true;
SaveConvDataToFile           = false;
MakeLinearFitNearThreshold   = false;
MakeGaussianFitNearVmax      = false;
AddNoise                     = true;
UseRedNoise                  = false;
MakeTheoreticalTOA           = false;



# Choose the transfer function to use
# This will select one of the following 
# configuration block
# If the "FromFile" is chosen, the full path
# of the transfer function has to be passed.
# The internal format must be "t Y"
TransferFunction = "TIA_BJT_2stages";
TFFile = "dummy";


# Configuration of transfer functions
# Each h(t) has a unique ID in order
# to easily switch between them 

TIA_BJT_2stages:{
    ID          = 1;
    Nsamples    = 4096;
    Nbins       = 50;
    dT          = 1e-12;
    LEthr       = 0.01;
    CFD_fr      = 0.35;
    sigma_noise = 0.00225;
    r_rednoise  = 0.985112;
    Rp          = 400.0;
    Rf          = 3000.0;
    Rl          = 25.0
    gm1         = 0.615;
    Rf2         = 3000.0;
    Rl2         = 25.0;
    gm2         = 0.8;
    ci          = 2e-12;
    co          = 4e-12;
    co2         = 4e-12;
    cf          = 60e-15;
};


TIA_BJT_2stages_GM:{
    ID          = 2;
    Nsamples    = 4096;
    Nbins       = 50;
    dT          = 1e-12;
    LEthr       = 0.01;
    CFD_fr      = 0.35;
    sigma_noise = 0.004;
    r_rednoise  = 0.970446;
    Rp          = 300.0;
    Rf          = 3000.0;
    Rl          = 25.0;
    gm1         = 0.8;
    Rf2         = 4000.0;
    Rl2         = 25.0;
    gm2         = 0.7;
    ci          = 1.5e-12;
    co          = 1.5e-12;
    co2         = 1.8e-12;
    cf          = 60e-15;
};


TIA_MOS:{
    ID          = 0;
    Nsamples    = 131072;
    Nbins       = 50;
    dT          = 1e-12;
    LEthr       = 0.02;
    CFD_fr      = 0.35;
    sigma_noise = 0.0017;
    r_rednoise  = 0.998501;
    Rf          = 3000000.0;
    Rl          = 570000.0;
    gm          = 55e-6;
    ci          = 105e-15;
    co          = 21e-15;
    cf          = 5e-15;
};


TIA_IdealInt:{
    ID          = 4;
    Nsamples    = 131072;
    Nbins       = 50;
    dT          = 1e-12;
    LEthr       = 0.02;
    CFD_fr      = 0.35;
    sigma_noise = 0.0017;
    r_rednoise  = 0.998501;
    z0          = 110e+3;
    tau1        = 7.74e-9;
    tau2        = 18.81e-9;
    tauz        = 12.66e-9;
};


TIA_BJT_1stage :{
    ID          = 3;
    Nsamples    = 4096;
    Nbins       = 50;
    dT          = 1e-12;
    LEthr       = 0.01;
    CFD_fr      = 0.35;
    sigma_noise = 0.00225;
    r_rednoise  = 0.985112;
    Rp          = 400.0; 
    Rf          = 4000.0; 
    Rl          = 35.0;
    gm          = 0.615;
    ci          = 2e-12; 
    co          = 4e-12; 
    cf          = 60e-15;
};


FromFile :{
    ID          = 5;
    TFFile      = " ";
    Nsamples    = 4096;
    Nbins       = 50;
    dT          = 1e-12;
    LEthr       = 0.01;
    CFD_fr      = 0.35;
    sigma_noise = 0.00225;
    r_rednoise  = 0.985112;
};


